/* ---- reset ---- */ 
/*body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } 
canvas{ display: block; vertical-align: bottom; } */
/* ---- particles.js container ---- */ 
#particles-js {
	width: 100%; 
	background-color: #2e9cca; 
	background-image: url(""); 
	background-repeat: no-repeat; 
	background-size: auto; 
	background-position: 50% 50%;
	height: 87.85%;
}