.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#use-cases-header {
  padding-bottom: 10px;
}

.t-title {
  cursor: pointer;
}