/*************************
CSS Index
* Header area CSS
* Hero area CSS
* Token area CSS
* Ico Logo area CSS
* Progress area CSS
* Service area CSS
* Team area CSS
* Articles from area CSS
* Get Ready area CSS
* Footer area CSS
*************************/


/**************
Header area CSS
**************/

.header-7 .button {
    background-color: #FFCE63;
    color: #001737;
    font-weight: 600;
    border-radius: 30px;
    overflow: hidden;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.header-7 .button:after {
    border-radius: 30px;
}

.header-7 .button:hover {
    color: #001737;
}


/**************
Hero area CSS
**************/

.hero-8 {
    position: relative;
    z-index: 1;
    padding: 220px 0 0;
    background-color: white;
    overflow: hidden;
}

.hero-8:after {
    position: absolute;
    left: 0px;
    top: 0px;
    content: '';
    background-image: url(../image/bg-shape.png);
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-8 h1,
.hero-8 h4 {
    color: white;
}

.hero-8 h1 {
    line-height: 1.3;
}

.hero-8 h4 {
    line-height: 1.7;
    color: #C0CCDA;
    font-weight: 400;
    margin-bottom: 40px;
}

.hero-8 .button {
    background-color: #1657E2;
    padding: 12px 30px;
    border-radius: 30px;
    overflow: hidden;
}

.hero-8 .button:after {
    border-radius: 30px;
}

.h-8-img {
    margin-right: calc((-100vw + 100%) / 2);
}


/**************
Token area CSS
**************/

.token-left {
    border-left: 3px solid #FFDB49;
    padding-left: 20px;
    padding-bottom: 30px;
    margin: 0 50px;
}

.token-right {
    border-color: #7783C3;
}

.token-left p {
    font-size: 14px;
}

.token-btn {
    text-align: center;
    margin-top: 50px;
}

.token-btn .button {
    background-color: #FFCE63;
    color: #001737;
    font-weight: 600;
    border-radius: 30px;
    overflow: hidden;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.token-btn .button:hover {
    color: white;
}

.token-btn .button:after {
    border-radius: 30px;
}

#html {
    margin-top: -5px;
    position: relative;
    z-index: -1;
}

#html .proggress {
    border-radius: 30px 0 0 30px !important;
    border-right: 4px solid white;
}

#html .proggress {
    background: #ffdb49;
    background: -webkit-gradient(linear, left top, right top, from(#ffdb49), to(#ff9056));
    background: -o-linear-gradient(left, #ffdb49 0%, #ff9056 100%);
    background: linear-gradient(to right, #ffdb49 0%, #ff9056 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdb49', endColorstr='#ff9056', GradientType=1);
}

#html .progress-contentbar {
    -webkit-box-shadow: 0 0 0 7px white, 0 5px 30px 5px rgba(119, 131, 195, 0.3);
    box-shadow: 0 0 0 7px white, 0 5px 30px 5px rgba(119, 131, 195, 0.3);
    ;
}

.m-50 {
    margin: 20px 50px 0;
}


/*****************
Ico Logo area CSS
*****************/

.ico-logo-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 80px;
}

.ico-title h2 {
    font-size: 300px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .1);
}

.ico-img-8 img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
}

.ico-img-8 img:nth-child(1) {
    bottom: 48%;
    left: 2%;
    width: 90px;
}

.ico-img-8 img:nth-child(2) {}

.ico-img-8 img:nth-child(3) {
    left: 10%;
    bottom: 30%;
    width: 160px;
}

.ico-img-8 img:nth-child(4) {
    left: 16%;
    width: 90px;
    bottom: 7%;
}

.ico-img-8 img:nth-child(5) {
    width: 88px;
    bottom: 44%;
    left: 25%;
}

.ico-img-8 img:nth-child(6) {
    left: 30%;
    width: 150px;
    bottom: 20%;
}

.ico-img-8 img:nth-child(7) {
    left: 38%;
    bottom: 45%;
}

.ico-img-8 img:nth-child(8) {
    left: 47%;
    bottom: 26%;
}

.ico-img-8 img:nth-child(9) {
    width: 96px;
    left: 36%;
    bottom: 4%;
}

.ico-img-8 img:nth-child(10) {
    width: 113px;
    left: auto;
    right: 39%;
    bottom: 8%;
}

.ico-img-8 img:nth-child(11) {
    width: 107px;
    left: auto;
    right: 34%;
    bottom: 46%;
}

.ico-img-8 img:nth-child(12) {
    width: 107px;
    left: auto;
    right: 33%;
    bottom: 30%;
}

.ico-img-8 img:nth-child(13) {
    width: 90px;
    left: auto;
    right: 20%;
    bottom: 40%;
}

.ico-img-8 img:nth-child(14) {
    width: 130px;
    left: auto;
    right: 18%;
}

.ico-img-8 img:nth-child(15) {
    left: auto;
    right: -15px;
    bottom: 50%;
}

.ico-img-8 img:nth-child(16) {
    left: auto;
    right: -15px;
}


/*****************
Progress area CSS
*****************/

.progress-area {
    background-color: #07399D;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.progress-area:after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(../image/p-8-bg.png);
    background-size: cover;
    background-position: right center;
}

.progress-area .title h2 {
    color: white;
}

.progress-area .title p {
    color: #C0CCDA;
}

.progress-slider {
    text-align: center;
}

.single-progress {
    position: relative;
    color: white;
    z-index: 1;
}

.single-progress:after {
    position: absolute;
    left: 0;
    bottom: 55px;
    width: 100%;
    height: 5px;
    content: "";
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
}

.single-progress:fast-child:after {
    border-radius: 5px;
}

.progress-slider span {
    width: 25px;
    height: 25px;
    border: 7px solid white;
    border-radius: 50%;
    background-color: #1657E2;
    position: relative;
    left: 50%;
    top: -3px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
}

.progress-box {
    position: relative;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 25px;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 40px;
}

.single-progress.active .progress-box {
    opacity: 1;
    visibility: visible;
}

.progress-box h5 {
    font-weight: 500;
}

.progress-box p {
    padding: 0;
    color: #576477;
}

.progress-box:after {
    position: absolute;
    left: 50%;
    bottom: -8px;
    width: 20px;
    height: 20px;
    content: "";
    background-color: white;
    -webkit-transform: translate(-50%, 0%) rotate(45deg) skew(10deg, 10deg);
    -ms-transform: translate(-50%, 0%) rotate(45deg) skew(10deg, 10deg);
    transform: translate(-50%, 0%) rotate(45deg) skew(10deg, 10deg);
    -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);
}

.progress-slider .owl-nav button {
    position: absolute;
    left: 0;
    bottom: 12%;
}

.progress-slider .owl-nav button i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #FFCE63;
    border-radius: 50%;
    font-size: 20px;
    color: #001737;
}

.progress-slider .owl-nav button.owl-next {
    left: auto;
    right: 0;
}

.p-8-left-img img {
    position: absolute;
    left: -100px;
    bottom: 95px;
    pointer-events: none;
}

img.p-8-right-img {
    left: auto;
    right: -4%;
    bottom: 0;
}

.p-8-left-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    bottom: 0;
}

.token-area .percentCount {
    display: none;
}


/****************
Service area CSS
****************/

.service-8-area {
    position: relative;
    z-index: 1;
}

.s-8-img img {
    position: absolute;
    left: -3%;
    bottom: -13%;
    z-index: -1;
}

.service-8-area .title {
    margin-bottom: 50px;
}

.service-8-area .single-s-4-item {
    -webkit-box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 40px;
    border-radius: 5px;
}


/*************
Team area CSS
*************/

.team-8-img {
    width: 200px;
    height: 200px;
    margin: 0 auto 30px;
    position: relative;
    z-index: 1;
}

.team-8-img img {
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 10px white;
    box-shadow: 0 0 0 10px white;
}

.single-team-8 {
    text-align: center;
    margin-bottom: 60px;
}

.team-8-icon {
    width: 40px;
    height: 40px;
    background-color: #0077B5;
    color: white;
    line-height: 40px;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.team-8-icon:hover {
    background-color: white;
    color: #0077B5;
}

.team-social {
    margin-top: -45px;
    position: relative;
    z-index: 1;
}

.team-8-area {
    background-color: #F9FAFC;
}

.single-team-8 h3 span {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 500;
    color: #576477;
}

.single-team-8 h3 {
    margin-top: 25px;
}

.image-parent {
    position: relative;
    display: inline-block;
}

.image-parent:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 242px;
    height: 180px;
    background-image: url('../image/team-image.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    -webkit-transform: translate(-50%, -42%);
    -ms-transform: translate(-50%, -42%);
    transform: translate(-50%, -42%);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.image-parent:hover:before {
    background-image: url('../image/team-hover-image.png');
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


/**********************
Articles from area CSS
**********************/

.user-text h6 {
    margin-bottom: 0;
}

.user-text h6 a {
    color: white;
}

.user-icon i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}

.articles-user {
    position: absolute;
    bottom: 8%;
    left: 10%;
}

.articles-img {
    position: relative;
    z-index: 1;
}

.articles-img img {
    border-radius: 5px 5px 0 0;
}

.user-icon {
    margin-right: 15px;
}

.articles-content {
    padding: 30px;
    background-color: #F9FAFC;
}

.articles-content h3 a {
    color: #001737;
    line-height: 1.5;
}

.articles-content h3 {
    margin-bottom: 15px;
}

.articles-content a.read-btn {
    font-size: 14px;
    color: #001737;
    font-weight: 600;
    display: block;
    text-align: center;
    border: 1px solid #C0CCDA;
    padding: 10px 0;
    border-radius: 30px;
    background-color: white;
    margin-top: 25px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.articles-content a.read-btn:hover {
    background-color: #FFCE63;
    border-color: #FFCE63;
}

.articles-from .title {
    margin-bottom: 60px;
}

.at-right .articles-content h3 a {
    font-size: 18px;
}

.at-right .articles-content h3 {
    margin-bottom: 0;
}

.at-right .articles-content {
    padding: 20px;
}

.at-right {
    margin-bottom: 30px;
}

.at-right .user-text h6 a {
    font-size: 16px;
}

.at-right .user-icon i {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.at-right .user-icon {
    margin-right: 10px;
}


/******************
Get Ready area CSS
******************/

.get-ready-area {
    position: relative;
    z-index: 2;
}

.get-bg {
    -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, .1);
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, .1);
    border-radius: 10px;
    background-color: white;
}

.get-ready-area .button {
    padding: 10px 40px;
    border-radius: 50px;
    margin: 0 5px;
    background-color: #1657E2;
    overflow: hidden;
}

.get-ready-area .button:hover:after {
    border-radius: 50px;
}

.get-ready-area .button:after {
    border-radius: 50px;
}

.get-ready-area .get-8-btn-2 {
    background-color: #FFCE63;
    color: black;
    -webkit-box-shadow: 0 10px 30px 0px rgba(255, 206, 99, .2);
    box-shadow: 0 10px 30px 0px rgba(255, 206, 99, .2);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.get-ready-area .button.get-8-btn-1 {
    -webkit-box-shadow: 0 10px 30px 0px rgba(22, 87, 226, .2);
    box-shadow: 0 10px 30px 0px rgba(22, 87, 226, .2);
}

.get-ready-area .get-8-btn-2:hover {
    color: white;
}

.get-ready-area .title h4 {
    color: #8392A5;
    margin-top: 18px;
}


/***************
Footer area CSS
***************/

.footer-area-8 {
    position: relative;
    z-index: 1;
    padding-top: 530px;
    padding-bottom: 0px;
    margin-top: -380px;
}

.footer-area-8:after {
    position: absolute;
    left: 0px;
    top: 0px;
    content: '';
    background-image: url(../image/footer-8-bg.png);
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: 103px;
}

.footer-8 {
    padding-bottom: 40px;
}

.footer-8-menu li a {
    padding: 0 15px;
    color: white;
    display: block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.footer-8-menu {
    text-align: right;
}

.social-8 li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background-color: white;
    margin-left: 10px;
    border-radius: 50%;
    color: black;
    font-size: 23px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.social-8 {
    text-align: right;
}

.social-8 li a:hover {
    background-color: #FFCE63;
}

.social-8 li a:hover {}

.footer-8-menu li a:hover {
    color: #FFCE63;
}

.footer-area-8 .copyright,
.footer-area-8 .copyright li a {
    color: #ADB9C7;
}

.footer-area-8 .copyright li a:hover {
    color: #FFCE63;
}

.footer-8-img img {
    position: absolute;
    top: 295px;
    left: -50px;
    width: 250px;
}

.footer-8-img img.fr-img {
    right: -37px;
    left: auto;
    top: 0px;
    width: 260px;
}

.copyright {
    position: relative;
    z-index: 1;
    padding: 30px 0;
}

.copyright:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: white;
    z-index: -1;
    opacity: .1;
}